# Unit 01 Tabular: Unit Project

# Weather Data and Flights Data

All projects in this course share some basic learning objectives:

1. Use real data collected and compiled together by some outside entity.
2. Use tools and techniques of the Unit to help acquire and transform the data into a useable form.
3. Corollary to 2, synthesize many individual skills into a coherent whole to solve a problem.
4. Incorporate coherent documentation to describe the start-to-finish process of the project, including describing questions of the project and answers developed.
5. Build a visualization to help understand the data acquired.

## Evaluation and Grading

Your task is to write the Python code to acquire the data for each dataset, write (good, clean, coherent) functions to process the **format/representation** as given for the dataset and to assemble it into a **data structure(s)** allowing processing by your Python, take any steps you believe are necessary to **make the data conform to our "tidy" constraints**, so that we can do aggregation and to allow processing for **visualization and exploration**, and to output the data to allow a hand-off for visualization in Tableau.

For this synthesis assignment, you may not, in fact, need tons of Python code.  And the class discussion of the source dataset and the assignment description below will give you advice to help you in this process.  But part of the point of a synthesis project is to document, through Markdown in your solution Notebook, the start-to-finish progression to go from external raw data to a visualization that can answer questions about the data in the dataset.  

So your Project assignments are not just about "writing the program".  I want you, through the Markdown and Notebook, as well as the visualization, to **clearly communicate** all of your steps in the start-to-finish progression and what you **learned about the datasets**.  As outlined in the rubric below, your grade is about all of these parts.

I want to see you put together a **coherent essay** in an iPython Notebook that describes the steps taken, presents the code and rationale for why your functions coherently decompose and solve the overall problem, and uses graphs and English description to describe and **interpret** the results.  So the end of the notebook will be including the graphs/visualizations developed in Tableau and leading the reader through the interpretation.

A good notebook should allow an audience/reader who is *not associated with this course* to understand the development and your conclusions.  Write for an **audience** who is not familiar with the dataset, nor knows technical details about pandas and its methods, but the essay should also convince me that you understand the transformations necessary to normalize the datasets and get them ready for analysis.

On the programming side, we want to incorporate ideas learned from our CS1 class.  In particular, we are breaking a larger problem into smaller problems and solving those smaller problems with sequences of algorithmic steps that define a unit of the solution.  These units should be realized as **functions** in your solution.  It is a common tendency for students to simply define global notebook cells that form a monolithic solution to the problem.  But part of your grade is how well you define functions that bring together sets of steps. 

Your grade will be determined as follows:

- 25 points for a well written and coherent essay and visualizations that answer good questions about the data
- 15 points for code that executes correctly, and is structured with good functional decomposition and limits/eliminates globals
  - I and my TAs must be able to load your notebook and do a "Restart and Run All" execution and get execution that correctly starts with no data in the local directory, and ends with a file (or files) that serves as a correct Data Connection in Tableau to your visualization.
- 10 points for code documentation.  The code documentation **must** include:

  - Program level docstring
  - Complete docstrings for each function that include description, parameters, and return value
  - Comments in the code that describe (for a reader that might _only_ see your code) *how* the code is working.

## Submission

Your submission will consist of a single iPython Notebook containing the code and documentation as described above.  This will by a `.ipynb` file.  You will also have one or more picture files (`.jpg` or `.pdf`) showing the results of your visualization in Tableau.  Note that the picture files should be incorporated *in your notebook* as part of your documentation of the questions you asked about the dataset and how the visualizations help you in interpreting the data and answering those questions.

Thus, you will upload into the course `Notebowl`:
1. A `.ipynb` Notebook
2. The `.jpg` or other picture format files for the figures generated in Tableau and included in your notebook

## Data Sets

We have provided you with two *real world* data sets.  

The first data set, in the `flights.csv` file, is data about airline flights in and out of all of the New York airports between January 1, 2013 and December 31, 2013.  In this data set, each row is an observation about a single flight, and includes information about the date of the flight, the scheduled departure time, the actual departure time, the plane involved, the carrier, the origin and destination airports, and a number of additional metrics.  While the basic requirement of a row being an observation is satisfied, there are a number of derived columns, and times are represented as 4 digit integers using hhmm for hours and minutes, but where hours are in a 24 hour (military clock) style.

The second dataset, in the `weather.csv` file, is data obtained from Weather Underground for weather metrics in Boston, MA over the time period ranging from December 1, 2014 through December 1, 2015.  The various metrics include numeric data about temperature max and min, dewpoint, and precipitation and also include categorical data.  There are a number of places with missing observations.  This data does not conform to our Tidy data constraints.

## Transformation

Before any exploratory data analysis, your goal is to transform these datasets into normalized (tidy-conformant) form, including adjusting columns to eliminate combined and derived columns and to adjust the time series year-month-day into columns each for year, month, and day.

## Exploration and Questions

Once data is in normalized form, you should explore the data using `matplotlib` and also enable exploration by writing to **new** csv output files that you will bring in to Tableau.  Your goal is to **articulate** questions and then **visualize** the data in a way that brings light to your questions.

At a minimum, you should have at least 
- one question about the flights data
  - consider relationships between airlines and departure delays, or distance/air time and arrival delay, or time of year and delays as possible directions for your investigation
- one question about the weather data
  - consider time of year and precipitation or visibility, air pressure versus visibility or weather events, etc
- one question that uses data from both datasets
  - Note first that the data is from different time periods, but covers a full year, so while we cannot time-align the two datasets to one another, we can start by assuming that weather (in Boston) might be relatively consistent ... precipitation by month, for instance, or probability of bad visibility or snow events per month
  - Note also that *only a subset* of the flights data involves Boston or New England, and so it only makes sense in combining with the weather data to consider that subset

In [1]:
import pandas as pd
weather = pd.read_csv("weather2.csv")
flights = pd.read_csv("flights.csv")

In [2]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,1820.0,1820,0.0,2216.0,2150,26.0,AA,119,N3FMAA,EWR,LAX,366.0,2454,18,20,2013-01-01 18:00:00
1,2013,1,1,1520.0,1430,50.0,1835.0,1735,60.0,AA,883,N589AA,EWR,DFW,236.0,1372,14,30,2013-01-01 14:00:00
2,2013,1,1,914.0,920,-6.0,1244.0,1240,4.0,AA,1589,N517AA,EWR,DFW,238.0,1372,9,20,2013-01-01 09:00:00
3,2013,1,1,1135.0,1140,-5.0,1429.0,1445,-16.0,AA,1623,N3EYAA,EWR,MIA,156.0,1085,11,40,2013-01-01 11:00:00
4,2013,1,1,1301.0,1240,21.0,1633.0,1540,53.0,AA,1853,N544AA,EWR,DFW,252.0,1372,12,40,2013-01-01 12:00:00

In [3]:
flights.to_csv("test1.csv")

In [3]:
weather.head()

,X,year,month,measure,X1,X2,X3,X4,X5,X6,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,1,2014,12,Max.TemperatureF,64,42,51,43,42,45,...,44,47,46,59,50,52,52,41,30,30
1,2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,...,39,45,44,52,44,45,46,36,26,25
2,3,2014,12,Min.TemperatureF,39,33,37,30,26,38,...,33,42,41,44,37,38,40,30,22,20
3,4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,...,39,45,46,58,31,34,42,26,10,8
4,5,2014,12,MeanDew.PointF,40,27,42,21,25,40,...,34,42,44,43,29,31,35,20,4,5